body{
	background: url('../img/cfk.jpg');
	background-attachment: fixed;
}
#global{
	background: white;
	opacity: 0.0
}
#logo{
	background: #1F87C4;
}
#logo img{
	content: url('../img/todos.png');
}
#menu ul li:hover{
	background: #1F87C4;
}

.button-more{
	background: #1F87C4;
}